<form action="/Home/SearchContactsByName" method="get">
    <input type="text" name="ContactName" /><br /><br />
    <input type="submit" value="Search" />
 </form>

<a href="/Home/AddContact">Add Contact</a>