
<br />
<br />
@*<a href="/Home/ShowInfoForPlanet?ID=1">Planet 1</a>*@
<form action="/Home/ShowInfoForPlanet" method="get">
    <input type="number" name="ID" /><br /><br />
    <input type="submit" value="Search" />
</form>